@model CarServiceWorkshop.Web.Models.Car

<h2>Create Car</h2>

<form asp-action="Create" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="card">

        <label asp-for="PlateNumber"></label>
        <input asp-for="PlateNumber" class="form-control" />

        <label asp-for="Brand"></label>
        <input asp-for="Brand" class="form-control" />

        <label asp-for="Model"></label>
        <input asp-for="Model" class="form-control" />

        <label asp-for="ClientId">Client</label>
        <select asp-for="ClientId" asp-items="ViewBag.ClientId" class="form-control"></select>

        <button type="submit" class="btn btn-primary" style="margin-top:15px;">Create</button>
    </div>
</form>
